body {
    padding: 0;
    margin: 0;
    text-align: center;
    
}

ul {
    background-color: rgb(126, 146, 214);
}

a {
    text-decoration-line: none;
    text-align: center;
    color:#000000
    
}
  

#search-box{
    width: 100%;
    text-align: center;
    margin: 50px auto;
    
}

#search{
    all: unset;
    width: 500px;
    height: 50px;
    border-radius: 30px;
    padding-left: 20px;
    text-align: left;
    border: 2px solid rgb(255, 255, 255);
    color: #000000;
    background-color: aliceblue;
}
#submit{
    all: unset;
    background-color: rgb(121, 233, 149);
    cursor: pointer;
    width: 100px;
    height: 30px;
    padding: 10px;
    border-radius: 20px;
}
#btn{
    all: unset;
    background-color: skyblue;
    cursor: pointer;
    width: 100px;
    height: 30px;
    padding: 10px;
    border-radius: 20px;
}
#submit:hover{
    background-color: tomato;
}


#container {
    width: 80%;
    columns: 1;
    margin: 50px auto;
    
}
.item {
    width: 100%;
    /* height: 300px; */ 
    margin-bottom: 10px;
    background: rgb(255, 255, 255);
    display: inline-block; /* 컬럼 짤림 방지*/
    text-align : left;
    /*border-bottom-style : solid;
    border-bottom-width : 1px;*/
}


/* 갤럭시 아이폰 반응형 웹 */
@media screen and (max-width: 430px) {
    #search-box {
        margin: 0px;
        margin-top: 50px;
    }
    #search {
        width: 40%;
    }
    #submit {
        width: 15%;
    }
    #container {
        width: 70%;
        columns: 1;
    }
    
}


